html {
    height: 100%;
    overflow-x: hidden;
}

body {
    @include base-font-family;
    font-size: $base-font-size-mobile + px;
    @include media {
        font-size: $base-font-size-desktop + px;
    }

    line-height: $base-line-height;
    color: $text-color;
    background-color: #fff;
    text-rendering: optimizeLegibility;
}

.Width {
    margin: 0 auto;
    padding: 0 20px;
    max-width:  740px;
}

/* Link
   ========================================================================== */

a {
    //color: #0079A8;
    //color: #bc4b2b;
    color: #DF4747;
    text-decoration: none;
    transition: color .2s;
    &:hover, &:focus, &:active {
        text-decoration: underline;
    }
}

small {
    @include font-size(12, 12);
}

p,
blockquote {
    hyphens: auto;
    margin-bottom: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
    @include title-font-family;
    color: $heading-color;
}

h1, h2 {
    line-height: 1;
}

h3, h4 {
    line-height: 1.2;
}

h1 {
    @include hg(32, 40);
}

h2 {
    @include hg(26, 30);
}

h3 {
    @include hg(20, 26);
}

h4 {
    @include hg(20, 24);
}

h5 {}

h6 {
    @include hg(12, 14);
}

.fa-twitter {
    color: #00acee;
}

.fa-twitter:hover {
    color: #fff;
    background-color: #00acee;
}

.fa-foursquare {
    color: #25a0ca;
}

.fa-foursquare:hover {
    color: #fff;
    background-color: #25a0ca;
}

.fa-tumblr {
    color: #34526f;
}

.fa-tumblr:hover {
    color: #fff;
    background-color: #34526f;
}

.fa-vimeo-square {
    color: #43BAFF;
}

.fa-vimeo-square:hover {
    color: #fff;
    background-color: #43BAFF;
}

.fa-linkedin {
    color: #007FB1;
}

.fa-linkedin:hover {
    color: #fff;
    background-color: #007FB1;
}

.fa-vine {
    color: #00a478;
}

.fa-vine:hover {
    color: #fff;
    background-color: #00a478;
}

.fa-youtube-play {
    color: #c4302b;
}

.fa-youtube-play:hover {
    color: #fff;
    background-color: #c4302b;
}

.fa-instagram {
    color: #3f729b;
}

.fa-instagram:hover {
    color: #fff;
    background-color: #3f729b;
}

.fa-dribbble {
    color: #ea4c89;
}

.fa-dribbble:hover {
    color: #fff;
    background-color: #ea4c89;
}

.fa-facebook {
    color: #3B5998;
}

.fa-facebook:hover {
    color: #fff;
    background-color: #3B5998;
}

.fa-google-plus {
    color: #dd4b39;
}

.fa-google-plus:hover {
    color: #fff;
    background-color: #dd4b39;
}

.fa-github {
    color: #171515;
}

.fa-github:hover {
    color: #fff;
    background-color: #171515;
}

.fa-rss {
    color: #ee802f;
}

.fa-rss:hover {
    color: #fff;
    background-color: #ee802f;
}

.fa-stackexchange {
    color: #F47920;
}

.fa-stackexchange:hover {
    color: #fff;
    background-color: #F47920;
}