/**
 * 1.3 /.SectionLab
 * ----------------------------------------------------------------------------
 */

.SectionLab {
    background-color: #222;
    .Section__title {
        color: #333;
    }
    li {
    	margin-bottom: pxToEm(60);
    	@include media { margin-bottom: pxToEm(100, 'x2'); }
        h4 {
			color:#ddd;
			letter-spacing: 3px;
			margin-bottom: 5px;
        }
        p{
			color:#666;
			margin-bottom: 20px;
        }
        figure a, img{
        	display: block;
        }
        img{
        	width: 100%;
        }
    }
}