.fa-twitter {
    color: #00acee;
}

.fa-twitter:hover {
    color: #fff;
    background-color: #00acee;
}

.fa-foursquare {
    color: #25a0ca;
}

.fa-foursquare:hover {
    color: #fff;
    background-color: #25a0ca;
}

.fa-tumblr {
    color: #34526f;
}

.fa-tumblr:hover {
    color: #fff;
    background-color: #34526f;
}

.fa-vimeo-square {
    color: #43BAFF;
}

.fa-vimeo-square:hover {
    color: #fff;
    background-color: #43BAFF;
}

.fa-linkedin {
    color: #007FB1;
}

.fa-linkedin:hover {
    color: #fff;
    background-color: #007FB1;
}

.fa-vine {
    color: #00a478;
}

.fa-vine:hover {
    color: #fff;
    background-color: #00a478;
}

.fa-youtube-play {
    color: #c4302b;
}

.fa-youtube-play:hover {
    color: #fff;
    background-color: #c4302b;
}

.fa-instagram {
    color: #3f729b;
}

.fa-instagram:hover {
    color: #fff;
    background-color: #3f729b;
}

.fa-dribbble {
    color: #ea4c89;
}

.fa-dribbble:hover {
    color: #fff;
    background-color: #ea4c89;
}

.fa-facebook {
    color: #3B5998;
}

.fa-facebook:hover {
    color: #fff;
    background-color: #3B5998;
}

.fa-google-plus {
    color: #dd4b39;
}

.fa-google-plus:hover {
    color: #fff;
    background-color: #dd4b39;
}

.fa-github {
    color: #171515;
}

.fa-github:hover {
    color: #fff;
    background-color: #171515;
}

.fa-stackexchange {
    color: #F47920;
}

.fa-stackexchange:hover {
    color: #fff;
    background-color: #F47920;
}